---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom styles to override header background color
.masthead {
  background-color: #ffffff !important;
}

.masthead__inner-wrap {
  background-color: #ffffff !important;
}

.greedy-nav {
  background-color: #ffffff !important;
}

.site-title {
  background-color: #ffffff !important;
}

// Make profile picture bigger
.author__avatar img {
  max-width: 200px !important;
  width: 200px !important;
  height: 200px !important;
  border-radius: 50% !important;
}

.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 200px !important;
  height: 200px !important;
}
